# Dictionary

In [1]:
d1={'Ram':25,'Rahim':26,'Robert':26}

In [2]:
d1

{'Ram': 25, 'Rahim': 26, 'Robert': 26}

In [3]:
d2={25:'Ram',26:'Rahim',27:'Robert'}
d2

{25: 'Ram', 26: 'Rahim', 27: 'Robert'}

In [4]:
d3={'Even':[2,4,6],
   'Odd':[1,3,5]}
d3

{'Even': [2, 4, 6], 'Odd': [1, 3, 5]}

In [5]:
d4={(2,4,6):'Even',
   (1,3,5):'Odd'}
d4

{(2, 4, 6): 'Even', (1, 3, 5): 'Odd'}

In [6]:
d5={'item_list':{'Frits':'Apple'}}
d5

{'item_list': {'Frits': 'Apple'}}

$Type:$

In [7]:
type(d1)

dict

$Max$--$Min$

In [8]:
d1={'Ram':25,
    'Rahim':26,
    'Robert':26}
max(d1)

'Robert'

In [9]:
min(d1)

'Rahim'

- Maximum and Minimum values are based on keys only.

In [10]:
ord('m')

109

$Len:$

In [11]:
len(d1)

3

$Sum:$

In [12]:
d2={1:4,2:5}
sum(d2)

3

$In:$

In [13]:
str1='Apple'
'A' in str1

True

In [14]:
l1=[1,2,3]
1 in l1

True

In [15]:
d1={'Ram':25,
    'Rahim':26,
    'Robert':26}
'Ram' in d1

True

In [16]:
for i in d1:
    print(i)

Ram
Rahim
Robert

$Index:$

In [17]:
d1={'Ram':25,
    'Rahim':26,
    'Robert':26}
d1['Ram']

25

In [18]:
for i in d1:
    print(i,d1[i])

Ram 25
Rahim 26
Robert 26

In [19]:
s=""
for i in 'Apple':
    s+=i
s

'Apple'

In [20]:
l=[]
for i in range(10):
    l.append(i)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
d2={}
d2['Fruit']='Apple'
d2

{'Fruit': 'Apple'}

In [22]:
d3={}
d3['Name']='Venkatesh'
d3['Age']=25
d3['City']='Hyderabad'
d3['State']='Telangana'
d3

{'Name': 'Venkatesh', 'Age': 25, 'City': 'Hyderabad', 'State': 'Telangana'}

In [23]:
d4={}
d4['Ram']=24
d4['Rahim']=25
d4['Robert']=26
d4

{'Ram': 24, 'Rahim': 25, 'Robert': 26}

In [24]:
names=['Ram','Rahim','Robert']
age=[25,26,27]
dict1={ }
for i,j in zip(names,age):
    dict1[i]=j
    
print(dict1)

{'Ram': 25, 'Rahim': 26, 'Robert': 27}

In [25]:
dict2={}
for i in range(len(names)):
    dict2[names[i]]=age[i]
dict2

{'Ram': 25, 'Rahim': 26, 'Robert': 27}

In [26]:
dict3={names[i]:age[i] for i in range(len(names))}
dict3

{'Ram': 25, 'Rahim': 26, 'Robert': 27}

In [27]:
dict4={names:age for names,age in zip(names,age)}
dict4

{'Ram': 25, 'Rahim': 26, 'Robert': 27}

In [28]:
dict5={}
even=[]
odd=[]
import random
for i in range(5):
    num=random.randint(1,10)
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
dict5['even']=even
dict5['odd']=odd
dict5

{'even': [8, 4, 2], 'odd': [9, 1]}

$Dictionary-Methods:$

In [29]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

$Items-Keys-Values:$

In [30]:
d1={'Ram':25,
    'Rahim':26,
    'Robert':26}
d1

{'Ram': 25, 'Rahim': 26, 'Robert': 26}

In [31]:
d1.items()

dict_items([('Ram', 25), ('Rahim', 26), ('Robert', 26)])

In [32]:
items=d1.items()
type(items)

dict_items

In [33]:
d1.keys()

dict_keys(['Ram', 'Rahim', 'Robert'])

In [34]:
keys=d1.keys()
type(keys)

dict_keys

In [35]:
d1.values()

dict_values([25, 26, 26])

In [36]:
values=d1.values()
type(values)

dict_values

In [37]:
type(d1.items)

builtin_function_or_method

In [38]:
d1={'Ram':25,
    'Rahim':26,
    'Robert':26}
keys=list(d1.keys())
values=list(d1.values())

In [39]:
keys,values

(['Ram', 'Rahim', 'Robert'], [25, 26, 26])

In [40]:
{i:j for i,j in zip(keys,values)}

{'Ram': 25, 'Rahim': 26, 'Robert': 26}

In [41]:
d1={}
for i in range(len(keys)):
    d1[keys[i]]=[values[i]]
d1

{'Ram': [25], 'Rahim': [26], 'Robert': [26]}

In [42]:
d1={}
for i,j in zip(keys,values):
     d1[i]=j
d1

{'Ram': 25, 'Rahim': 26, 'Robert': 26}

In [43]:
dict(zip(keys,values))

{'Ram': 25, 'Rahim': 26, 'Robert': 26}

In [44]:
str(zip(keys,values))

'<zip object at 0x000001B41979EE40>'

In [45]:
list(zip(keys,values))

[('Ram', 25), ('Rahim', 26), ('Robert', 26)]

In [46]:
s1='virat.kohli@blr.com,Rohit.sharma@mumbai.com,kl.Rahul@lucknow.com'
list1=s1.split(',')
first_name=[]
second_name=[]
company=[]
dict5={}
for i in list1:
    first_name.append(i[0:i.find('.')])
    second_name.append(i[i.find('.')+1:i.find('@')])
    company.append(i[i.find('@')+1:i.find('.',i.find('.')+1)])
dict5['first_name']=first_name
dict5['second_name']=second_name
dict5['company']=company
dict5

{'first_name': ['virat', 'Rohit', 'kl'],
 'second_name': ['kohli', 'sharma', 'Rahul'],
 'company': ['blr', 'mumbai', 'lucknow']}

In [47]:
s2='can can you canner can you able to can canner'
list2=s2.split(' ')
dict6={}
for i in list2:
    dict6[i]=list2.count(i)
dict6

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [48]:
print(dict6.keys())
list(dict6.keys())

dict_keys(['can', 'you', 'canner', 'able', 'to'])

['can', 'you', 'canner', 'able', 'to']

In [49]:
print(dict6.values())
list(dict6.values())

dict_values([4, 2, 2, 1, 1])

[4, 2, 2, 1, 1]

In [50]:
max(list(dict6.values()))

4

In [51]:
list(dict6.values()).index(max(list(dict6.values())))

0

In [52]:
list(dict6.keys())[list(dict6.values()).index(max(list(dict6.values())))]

'can'

In [53]:
dict6.keys,dict6.values

(<function dict.keys>, <function dict.values>)

In [54]:
keys=list(dict6.keys())

In [55]:
values=list(dict6.values())

In [56]:
keys,values

(['can', 'you', 'canner', 'able', 'to'], [4, 2, 2, 1, 1])

In [57]:
max(dict6.values())

4

In [58]:
i=max(values)

In [59]:
values.index(i)

0

In [60]:
keys[values.index(max(values))]

'can'

In [63]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}
for i in d1:
    d1[i]=d1[i]+d2[i]
d1

{'a': 70, 'b': 130, 'c': 240}

In [65]:
d1={'a':20,'b':30,'c':40}
d2={'a':50,'b':100,'c':200}

d3={}
if len(d1)==len(d2):
    for i in d1:
        d3[i]=d1[i]+d2[i]
d3

{'a': 70, 'b': 130, 'c': 240}

$Clear$--$Copy$

In [66]:
d1={'a':20,'b':30,'c':40}
d2=d1.copy()
d1.clear()
print(d1)
print(d2)

{}
{'a': 20, 'b': 30, 'c': 40}

$Pop$--$PopItem$--$Del$

In [70]:
d2.pop('a')

20

In [71]:
d2

{'b': 30, 'c': 40}

In [72]:
d2.popitem()

('c', 40)

In [74]:
dict1={'Ram': [25], 'Rahim': [26], 'Robert': [26]}
dict1.popitem()

('Robert', [26])

In [75]:
dict1

{'Ram': [25], 'Rahim': [26]}

In [79]:
del d2

In [81]:
del dict1['Rahim']

In [82]:
dict1

{'Ram': [25]}

$FromKeys$--$Get$

In [94]:
d1={'a':20,'b':30,'c':40,'d':50}
d1.fromkeys('a')

{'a': None}

In [93]:
d1.get('b')

30

In [95]:
d1.get('z')

In [91]:
d1.fromkeys('Raheem',20)

{'R': 20, 'a': 20, 'h': 20, 'e': 20, 'm': 20}

In [96]:
d1

{'a': 20, 'b': 30, 'c': 40, 'd': 50}

In [97]:
d3={}.fromkeys([1,3,5],'Odd')

In [98]:
d3

{1: 'Odd', 3: 'Odd', 5: 'Odd'}

In [100]:
d4={}.fromkeys([2,4,6],'Even')
d4

{2: 'Even', 4: 'Even', 6: 'Even'}

$Set-Default$

In [104]:
d1={}
d1.setdefault("NareshIt",20)
d1.setdefault('city')
d1

{'NareshIt': 20, 'city': None}

In [105]:
d1.setdefault('NareshIt',['DS','MLops','DE'])
d1

{'NareshIt': 20, 'city': None}

In [106]:
d1['NareshIt']=['DS','MLops','DE']
d1

{'NareshIt': ['DS', 'MLops', 'DE'], 'city': None}

In [107]:
d1.setdefault('city','hyd')
d1

{'NareshIt': ['DS', 'MLops', 'DE'], 'city': None}

$Update:$

In [108]:
d1={'a':1,'b':2,'c':5}
d2={'b':7,'d':9}
d1.update(d2)
d1

{'a': 1, 'b': 7, 'c': 5, 'd': 9}

In [109]:
t1={(1,2),(2,3)}
d1={}
d1.update(t1)
d1

{2: 3, 1: 2}